################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/NET.KU/v15/Server/sqlite3/db.lock
/.vs/NET.KU/v16/Server/sqlite3/db.lock
